* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: #474a4f;
    color: #FFFFFF;
/*
    background-color: #36393f;
*/
}

body {
    font: 13px Helvetica, Arial;

}

::-webkit-scrollbar{
    width: 8px;
    margin-left: 10px;
    background-color:#282b30;
}

::-webkit-scrollbar-track{
    background: #2f3136;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb{
    background: #202225;
    border-radius: 15px;
}


#messages {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 0;
}

#messages li {
    padding: 5px 10px;
    color: #dcddde;
    word-break: break-word;
}

.header {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    font-weight: bold;
    color: #ffffff33;
}

#send-button{
    padding: 0;
    opacity: 0.5;
    border-top-right-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
    border-style: solid;
    border-width: 0px 0px 0px 2px !important;
}

#roles{
    color: #FFFFFF!important;
}

#roles-dropdown-button{
    background-color: #2f3136;
}

#role-container{
     box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
     z-index: 2;
}

.dropdown-menu-center
{
    background-color: #36393f;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-top: 0;
    margin-top:0;
    background-color: #36393f;
    text-align: center;
    transform: translate(-50%, 15%)!important;
    -webkit-transform: translate(-50%, 15%)!important;
    -o-transform: translate(-50%, 15%)!important;
    right: auto!important;
    left: 50%!important;
}

.dropdown-item{
    color : #FFFFFF !important;
}

.dropdown-item:hover{
    background-color: #484c52 !important;
}

.dropdown-item:active, .dropdown-item:focus{
    background-color: #36393f !important;;
}

.dropdown-toggle{
    color : #FFFFFF !important;
    background-color: #2f3136!important;
}
.dropdown-toggle:hover{
    background-color: #343a40!important;
}

.dropdown-toggle:focus,.dropdown-toggle:active{
    color : #FFFFFF !important;
    background-color: #343a40!important;
}

/* #messages li:nth-child(odd) { background: #eee; } */

#chat-box {
    height: 92vh;
    overflow: auto;
    flex-direction: column-reverse;
    display: flex;
    margin: auto;  
    min-height: 230px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    width:100%;
}

#chat-col{
    background-color:#36393f;
}

#chat-input-container{
    background-color: #484c52;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    padding-left: 5px;
    border-radius: 10px;
    height: 6vh;
    margin: 1vh 0 1vh 0;
    min-height: 34px;
}

#chat-input, #chat-input:focus{
    border: 0;
    background-color: #484c52!important;
    color: #ffffffb3;
    resize: none;
    outline:none!important;
}


form {
    padding: 0px;
    border-style: solid;
    border-width: 1px;
}

form button {
    background: rgb(130, 224, 255);
    border: none;
}

.container-fluid{
    height:100vh;
}

input{
    outline: none !important;
    box-shadow: none !important;
    border-width: 2px;
    border-style: solid;
}

#control-col {
    background-color: #2f3136;
}

#control-title {
    display: grid;
    align-items: center;
    width: 100%;
    text-align: center;
}


.btn {
    outline: none !important;
    box-shadow: none !important;
    border-width: 0 !important;
    border-radius:0 !important;
    margin:0 !important;
}


.hidden-radio-btn {
    display: none;
}

.status-light{
    border-radius: 50%;
    position:absolute;
    height:1.5rem;
    width:1.5rem;
    border: solid 2px #474a4f;
    background-color:#dc3545;
/*
    #43b581
*/
}

.disabled-btn{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

.chat-target-btn{


/*
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.2),inset 2px 2px 0 rgba(0,0,0,.06),inset -1px -1px 0 rgba(0,0,0,.2),inset -2px -2px 0 rgba(0,0,0,.06) !important;
*/
    
    color: #FFFFFF !important;
/*
    outline: none!important;
    background-color:none!important;
    border-color: #dc3545!important;
    border-width: 1px !important;
    border-radius:0 !important;
*/
}

/*
.chat-target-text {
    margin: auto;
    display: grid;
    align-content: center;
    width: 100%;
    height: 100%;
    background: none;
}
*/

.chat-target-text{
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    border-color: #282b30 !important;
    border-width: 1px !important;
}
    
#chat-target-row{
    justify-content: center;
    z-index: 0;
}

#chat-transmit-row{
    justify-content: center;
    margin-bottom: 1vh!important;
}

#chat-title-row{
    background-color:#282b30;
    z-index: 1;
    box-shadow: 0 1px 0 rgba(0,0,0,.2),0 2px 0 rgba(0,0,0,.06);
}

/*
#chat-transmit-button{
margin-left: auto;
margin-right: auto;
}

.chat-target-btn{
*     z-index: 1;
margin-left: auto!important;
margin-right: auto!important;    
}
*/

#wslog {
    box-shadow: inset 0 1em 2em -1em rgba(30, 50, 40, 0.5), inset 0 -1em 2em -1em rgba(30, 50, 40, 0.5);
    height: 15em;
    width: 100%;
    line-height: 1em;
    overflow-y: auto;
    word-wrap: break-word;
}

video {
    max-width: calc(50% - 100px);
    margin: 0 50px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
}
